<div class="sidebar">
         
             
        <div class="sidebar-section">
            <h5><span>Partnership</span></h5>
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=42&l=ez&f=ifr&linkID=7603208be1f98e4572f8b22d786f3d1b&t=mrsequeira-21&tracking_id=mrsequeira-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div> 
            
        <div class="sidebar-section">
            <ul style="list-none;">
                <h5><span>Util</span></h5>
                <li><a target="_blank" href="https://www.designevo.com/">Create logos</a></li>
            </ul>
        </div>
            
</div>