<div class="sidebar">
         
             
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=20&l=ez&f=ifr&linkID=b1ec4d0d93ea58c2a209ad80fb951d0d&t=mrsequeira-21&tracking_id=mrsequeira-21" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div> 
            
        <div class="sidebar-section">
            <ul style="list-none;">
                <h5><span>Useful</span></h5>
                <li><a target="_blank" href="https://www.designevo.com/">Create custom logos</a></li>
                <li><a target="_blank" href="https://fontmeme.com/fonts/doctor-glitch-font/">Glitch font</a></li>

            </ul>
        </div>
            
</div>